*{
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar{
    display: none;
}

html{
    
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;

    background-color: rgb(160, 64, 64);
}

ul{
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
}

input:focus{
    outline: none;
}

li{
    display: grid;
    justify-content: center;
    padding: 0;
    margin: 1rem;
    list-style: none;
}

    .user-comment-grid-container{
        display: grid;

        background-color: inherit;
    }



        .uc-banner{
            scroll-snap-align: start;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 60px 1fr;
            height: fit-content;
            width: 100vw;
            text-align: center;
            margin: 0rem 1rem 4rem 0rem;
        }

            .uc-banner input:nth-child(1n) {
                justify-self: center;
                padding: 1rem;
                margin: 0rem;
                width: 100%;

                text-align: center;
                border: none;
                color: rgb(255, 255, 255);
                background: rgb(70, 0, 0);
                box-shadow: 0px 0px 50px black;
            }

                .uc-banner input::after{
                    background-color: red;
                width: 100%;

                }
                .uc-banner input:hover{
                    background: rgb(121, 8, 8);
                }

            .uc-banner input:nth-child(1) {
                border-bottom-left-radius: 0rem;
                border-bottom-right-radius: 0rem;

            }

            .uc-banner input:nth-child(2) {
                scroll-snap-align: start;
            
                font-size: larger;
                font-weight: bold;
                border-top-left-radius: 0rem;
                border-top-right-radius: 0rem;
                border-bottom-left-radius: 0.4rem;
                border-bottom-right-radius: 0.4rem;
            }


        .listed-item-grid{
            padding: 1rem;
            scroll-snap-align: start;

            border-radius: 0.4rem;
            background: rgba(0, 0, 0, 0.753);
        }

            .listed-item-grid:hover{
                cursor: pointer;
                transition: 0.4s;

                box-shadow: 0px 0px 90px 30px rgba(0, 0, 0, 0.8), 0px 0px 0px 1px rgba(255, 255, 255, 0.26) inset;
                background: rgba(0, 0, 0, 0.801);
            }

            .listed-item-grid:nth-child(even){
                background: rgb(104, 9, 9);
            }

            .listed-item-grid input:nth-child(1){
                background: red;
            }

        ul:nth-child(even){
            animation-name: social-color;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;

            border-top: 2px solid rgb(148, 90, 36);
            padding: 2rem 0rem 2rem 0rem;
        }

        @keyframes social-color {
            0%{
                background-color: rgba(0, 160, 99, 0.329);
            }
            25%{
                background-color: rgba(190, 62, 169, 0.705);
            }
            50%{
                background-color: rgba(87, 126, 255, 0.301);
            }
            51%{
                background-color: rgba(87, 126, 255, 0.301);
            }
            75%{
                background-color: rgba(235, 87, 255, 0.301);
            }
            100%{
                background-color: rgba(0, 170, 65, 0.301);
            }   
        }

        .form-decoration{
            padding: 1rem;
            margin: 1rem;
            width: 60vw;
            text-align: center;

            color: aliceblue;
            border-radius: 0.4rem;
            border: 1px solid rgb(0, 0, 0);
        }

        .username-base{
            background-color: rgb(41, 41, 41);
            height: 1rem;
        }

        .comment-base{
            height: 5rem;

            border: 1px solid black;
            background-color: rgb(8, 4, 17);
            
        }


