html{
    scroll-behavior: smooth;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;

    background-color: rgb(0, 0, 0);
}

ul{
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
}

li{
    display: grid;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

    .user-comment-grid-container{
        display: grid;
        height: 100vh;
        padding: 1rem;

        background-color: black;
    }



        .uc-banner{
            padding: 1rem;
            height: fit-content;
            text-align: center;
            margin: 1rem;

            color: white;
            background-color: rgba(48, 48, 48, 0.466);
            box-shadow: 0px 0px 50px 0px black;
            border-radius: 0.4rem;
        }

        .listed-item-grid{
            animation-name: social-color;
            animation-duration: 35s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        @keyframes social-color {
            0%{
                background-color: rgba(0, 160, 99, 0.329);
            }
            25%{
                background-color: rgba(190, 62, 169, 0.705);
            }
            50%{
                background-color: rgba(87, 126, 255, 0.301);
            }
            51%{
                background-color: rgba(87, 126, 255, 0.301);
            }
            75%{
                background-color: rgba(235, 87, 255, 0.301);
            }
            100%{
                background-color: rgba(0, 170, 65, 0.301);
            }   
        }

        .form-decoration{
            padding: 1rem;
            margin: 1rem;
            width: 60vw;
            text-align: center;

            color: aliceblue;
            background: rgba(0, 0, 0, 0.658);
            border: 1px solid rgba(0, 0, 0, 0.562);
        }

        .username-base{
            background-color: rgb(41, 41, 41);
            height: 1rem;
        }

        .comment-base{
            height: 5rem;

            border: 1px solid black;
            background-color: rgb(8, 4, 17);
            
        }


